---
name: FFWD from main branch

on:
  push:
    branches:
      - main


permissions:
  contents: write

jobs:
  fast-forward:
    runs-on: ubuntu-latest
    env:
      TARGET_BRANCH: backplane-2.11

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Fetch all branches
        run: git fetch --all

      - name: Fast-forward main commits into  ${{ env.TARGET_BRANCH }}
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git checkout "${TARGET_BRANCH}"
          git merge --ff-only origin/main
          git push origin "${TARGET_BRANCH}"
